<div id='menu'>
</div>

<div id='todo'>
	<h2><%=APP.Icon("todo")%> To Do's</h2>
	<p>Your To-Do list.</p>
	<div id='todolist'></div>
</div>

<div id='tasks'>
	<h2><%=APP.Icon("tasks")%> My Tasks</h2>
	<p>These tasks have been assigned to you, sorted by priority</p>
	<div id='tasklist'></div>
</div>

<div id='tasks'>
	<h2><%=APP.Icon("lightbulb-o")%> Task Ideas</h2>
	<p>These tasks are not yet ready to be implimented. They are just ideas. If its a good idea, turn it into a product or feature.</p>
	<div id='taskideas'></div>
</div>
