<div id='menu'>
	<span id='title'></span>
	<div class='cmd link' id='done'>
		<%=APP.Icon('done')%> done
	</div>
	<div class='cmd link' id='editrecord'>
		<%=APP.Icon('db')%> json
	</div>
	<% if (U.Can("projects","delete") || _.created_by==U.id) {%>
		<div class='cmd link danger' id='delete'>
			<%=APP.Icon('user-times')%> delete
		</div>
		<% } %>

			<span id='title'><%=APP.GetLink("orders", order)%></span>
</div>

<table class='table table-full table-left'>
	<tr>
		<th>Order</th>
		<td>
			<input type='text' class='field' id='orders' value='<%=order%>'>
		</td>
	</tr>
	<tr>
		<th>Type</th>
		<td>
			<input type='text' class='field' id='type' value='<%=type%>'>
		</td>
	</tr>
	<tr>
		<th>Quantity</th>
		<td>
			<input type='number' class='field' id='qty' value='<%=qty%>'>
		</td>
	</tr>
	<tr>
		<th>Price</th>
		<td>
			<input type='number' class='field' id='price' value='<%=price%>'>
		</td>
	</tr>
	<tr>
		<th>Warehouse</th>
		<td>
			<input type='radio' class='field' name='warehouse' id='warehouse' value='JAX' <%=warehouse=='JAX' ? "checked": ""%>>JAX
			<input type='radio' class='field' name='warehouse' id='warehouse' value='FRE' <%=warehouse=='FRE' ? "checked": ""%>>FRE
		</td>
	</tr>
	<tr>
		<th>Order Date</th>
		<td>
			<input type='date' class='field' id='order_date' value='<%=APP.Format.sysdate(order_date)%>'>
		</td>
	</tr>
	<tr>
		<th>Scheduler Date</th>
		<td>
			<input type='date' class='field' id='scheduler_date' value='<%=APP.Format.sysdate(scheduler_date)%>'>
		</td>
	</tr>
	<tr>
		<th>Customer Request Date</th>
		<td>
			<input type='date' class='field' id='customer_request_date' value='<%=APP.Format.sysdate(customer_request_date)%>'>
		</td>
	</tr>
	<tr>
		<th>Release Date</th>
		<td>
			<input type='date' class='field' id='release_date' value='<%=APP.Format.sysdate(release_date)%>'>
		</td>
	</tr>
	<tr>
		<th>Parts Due Date</th>
		<td>
			<input type='date' class='field' id='parts_due_date' value='<%=APP.Format.sysdate(parts_due_date)%>'>
		</td>
	</tr>
	<tr>
		<th>Production Start Date</th>
		<td>
			<input type='date' class='field' id='production_start' value='<%=APP.Format.sysdate(production_start)%>'>
		</td>
	</tr>
	<tr>
		<th>Test Start Date</th>
		<td>
			<input type='date' class='field' id='test_start' value='<%=APP.Format.sysdate(test_start)%>'>
		</td>
	</tr>
	<tr>
		<th>Description</th>
		<td>
			<input type='text' class='field' id='description' value='<%=description%>'>
		</td>
	</tr>

</table>
