<table class='table table-full table-left'>
	<tr>
		<th>Order</th>
		<td>
			<%=order%>
		</td>
	</tr>
	<tr>
		<th>Order Date</th>
		<td>
			<%=order_date%>
		</td>
	</tr>
	<tr>
		<th>Customer Request Date</th>
		<td>
			<%=customer_request_date%>
		</td>
	</tr>
	<tr>
		<th>Release Date</th>
		<td>
			<%=release_date%>
		</td>
	</tr>

	<tr>
		<th>Line Items</th>
		<td>
			<%=lineitems%>
		</td>
	</tr>
	<tr>
		<th>Total</th>
		<td>
			<%=APP.Format.money(total)%>
		</td>
	</tr>

	<tr>
		<th>Views</th>
		<td>
			<%=_.views%>
		</td>
	</tr>

	<tr>
		<th>Edits</th>
		<td>
			<%=_.edits%>
		</td>
	</tr>
</table>
