<div id='menu'>
	<% if (U.Can("orders_new")) { %>
		<div class='cmd link' id='add'>
			<%=APP.Icon('new')%> Add
		</div>
		<% } %>
			<div class='cmd link' id='filter'>
				<%=APP.Icon('tag')%> Filter
			</div>
			<div class='cmd link submenu' data-submenu='#reports_menu' id='reports'>
				<%=APP.Icon('reports')%> Reports
			</div>
			<span id='title'>Orders</span>
			<!-- <input id='search' type='search' placeholder='search'> -->

			<div id='reports_menu' style='display:none'>
				Reports: <a href="#orders/reports/production">Production</a>
			</div>

			<div id='submenu' style='display:none'>
				Type:
				<select class='filter_field' id='type'>
					<option selected value='all'>All</option>
					<option value='4'>4</option>
					<option value='5'>5</option>
					<option value='44'>44</option>
				</select>
			</div>
</div>

<table id='record_list' class='table table-full table-top'>
	<thead>
		<tr>
			<th>Order</th>
			<th>Order Date</th>
			<th>Customer Request Date</th>
			<th>Release Date</th>
			<th class='right'>Line Items</th>
			<th class='right'>Total</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>


<div id='footer'>
	records:
	<%=APP.models.orders.length%>
</div>
