@import 'config';
@import 'util';

body {
	margin          : 0;
	font-family     : "Lucida Grande", Lucida, Verdana, sans-serif;
	background-color: black;
}

.bg1 {
	color     : white;
	background: repeating-linear-gradient( -55deg, #222, #222 10px, #242424 10px, #242424 20px);
}
/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/
#FOOTER {
	a {
		color          : $link-color-alt;
		text-decoration: none;
		border-right   : 1px solid $text-color;
		padding-right  : 5px;
		padding-left   : 5px;
	}

	a:last-child {
		border-right: none;
	}
	background-color: black;
	background      : linear-gradient(#333, #000);
	color           : $text_light_color;
	padding         : 10px;
	box-shadow      : 0 5px 20px rgba(0, 0, 0, .5);
	font-size       : 12px;
	text-align      : center;

	#menu {
		float: left;
	}

	#collection_list {
		float     : right;
		text-align: right;

		.collection_count {
			float        : right;
			white-space  : nowrap;
			padding-right: 15px;
		}

		.new {
			color: white;
		}
	}
}
/*
██   ██ ███████  █████  ██████  ███████ ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
███████ █████   ███████ ██   ██ █████   ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
██   ██ ███████ ██   ██ ██████  ███████ ██   ██
*/
#HEADER {
	background-color: black;
	background      : linear-gradient(#333, #000);
	color           : white;
	padding         : 10px;
	box-shadow      : 0 5px 20px rgba(0, 0, 0, .5);
	user-select     : none;

	.link {
		cursor: pointer;
	}

	&.small {
		min-height: 20px;
		position  : fixed;
		top       : 0;
		left      : 0;
		right     : 0;

		#stars {
			display: none;
		}

		#topline {
			#title {
				display: none;
			}

			#subtitle {
				display: none;
			}

			#usermenu {
				position: absolute;
				right   : 10px;
				top     : 10px;
			}

			#searchbox {
				position: absolute;
				left    : 350px;
				right   : 200px;
				top     : 9px;

				#search {
					width: 100%;
				}

				&:focus {
					outline: none;
					border : 3px solid #0ff;
				}
			}
		}

		#SEARCH {
			#results {
				margin-top: 30px;
				display   : flex;
				flex-wrap : wrap;
				max-height: 300px;
				overflow-y: auto;
				overflow-x: hidden;

				.search_result {
					white-space  : nowrap;
					border       : 1px solid #999;
					border-radius: 5px;
					padding      : 5px;
					margin       : 5px;
					max-width    : 250px;
					overflow     : hidden;
					text-overflow: ellipsis;

					&:hover {
						background-color: #333;
					}
				}
			}
		}

		#mainmenu {
			position: absolute;
			left    : 10px;
			top     : 0;
			height  : 33px;

			&.bg1 {
				background: none;
			}

			.menuitem {
				float           : left;
				width           : 30px;
				text-align      : center;
				margin-right    : 2px;
				margin-left     : 2px;
				font-size       : 24px;
				padding         : 6px;
				background-color: none;

				&.active {
					background-color: $link_color_alt;
					color           : black;
					box-shadow      : 0 0 15px rgba(0, 0, 0, 0.2);
				}

				.label {
					display: none;
				}
			}
		}
	}

	&.large {
		Xposition: absolute;
		left     : 0;
		top      : 0;
		right    : 0;

		#stars {
			overflow : hidden;
			padding  : 5px;
			font-size: 12px;

			.starred_item {
				float        : left;
				padding-left : 5px;
				padding-right: 5px;
				position     : relative;
				top          : 5px;
				border-right : 2px solid #555;
			}

			.starred_item:last-child {
				border-right: none;
			}
		}

		#topline {
			display       : flex;
			align-items   : baseline;
			padding-bottom: 15px;

			.cell {
				flex-basis   : auto;
				padding-left : 10px;
				padding-right: 10px;
			}

			#searchbox {
				flex       : 10;
				padding-top: 10px;

				#search {
					border       : 3px solid #999;
					width        : 100%;
					font-size    : 25px;
					color        : #555;
					border-radius: 20px;
					padding-left : 10px;
					padding-right: 10px;

					&:focus {
						outline: none;
						border : 3px solid #0ff;
					}
				}
			}

			#title {
				font-size  : 40px;
				text-shadow: 1px 4px 6px black;
				@media screen and (max-width: 600px) {
					display: none;
				}
			}

			#subtitle {
				font-size: 20px;
				color    : #555;
				@media screen and (max-width: 800px) {
					display: none;
				}
			}

			#usermenu {
				text-align     : right;
				margin-top     : auto;
				padding-left   : 0;
				padding-right  : 0;
				height         : 48px;
				width          : 48px;
				background-size: 100% 100%;
				text-align     : center;

				#taskcount {
					margin-top : 15px;
					color      : black;
					text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
				}

				.btn {
					margin-top   : auto;
					margin-bottom: auto;
				}
			}
		}

		#mainmenu {
			display         : flex;
			flex-wrap       : wrap;
			overflow        : hidden;
			background-color: #333;
			border          : 4px solid #555;
			padding         : 10px;
			border-radius   : 17px;
			box-shadow      : inset 2px 2px 10px 5px rgba(0, 0, 0, 0.2);

			.menuitem {
				flex         : 1;
				float        : left;
				padding      : 10px 20px;
				white-space  : nowrap;
				text-align   : center;
				border-radius: 13px;
				border       : 2px solid rgba(0, 0, 0, 0);

				&.active {
					background-color: black;
					border          : 2px solid #555;
					box-shadow      : 0 0 15px rgba(0, 0, 0, 0.2);
				}

				&:hover {}
			}
			@media screen and (max-width: 600px) {
				.menuitem {
					font-size: 30px;

					.label {
						display: none;
					}
				}
			}
		}

		#SEARCH {
			#search_result_box {
				padding: 10px;

				#results {
					display   : flex;
					flex-wrap : wrap;
					max-height: 300px;
					overflow-y: auto;
					overflow-x: hidden;

					.search_result {
						background-color: rgba(255,255,255,0.95);
						color           : $text-color;
						white-space     : nowrap;
						border          : 3px solid $link_color_alt;
						border-radius   : 5px;
						padding         : 5px;
						margin          : 5px;
						max-width       : 250px;
						overflow        : hidden;
						text-overflow   : ellipsis;

						&:hover {
							background-color: rgba(255,255,255,0.8);
						}
					}
				}
			}
		}
	}
}
/*
███    ███  █████  ██ ███    ██
████  ████ ██   ██ ██ ████   ██
██ ████ ██ ███████ ██ ██ ██  ██
██  ██  ██ ██   ██ ██ ██  ██ ██
██      ██ ██   ██ ██ ██   ████
*/
#MAIN {
	padding         : 20px;
	background-color: white;
	overflow-y      : hidden;
	Xpadding-top    : 175px; // the main menu suddenly vanished, so we have to fill the space
	// &.smallmenu {
	//     padding-top: 175px; // the main menu suddenly vanished, so we have to fill the space
	// }
	h1 {
		font-size: 20px;
	}

	.money {
		&.negative {
			color: red;
		}

		&.zero {
			color: $text_light_color;
		}

		&.positive {
			color: $text_color;
		}
	}

	#empty {
		color      : #999;
		width      : 100%;
		padding    : 50px;
		text-align : center;
		box-sizing : border-box;
		line-height: 30px;

		#icon {
			font-size: 50px;
		}

		#msg {
			font-size: 25px;
		}

		td {
			padding: 50px;
		}
	}

	#menu {
		font-size       : 12px;
		background      : linear-gradient(#444, #333);
		background-color: #555;
		padding         : 10px 20px;
		margin          : 0 0 30px;
		border-radius   : 10px;
		box-shadow      : 0 5px 20px rgba(0, 0, 0, .5);
		color           : #fff;
		min-height      : 15px;

		#star {
			cursor: pointer;

			&:hover {
				color: $link_color_alt;
			}
		}

		#title {
			font-weight: bold;
		}

		a {
			color          : $link-color-alt;
			text-decoration: none;
		}

		.cmd {
			color  : white;
			float  : right;
			padding: 0 10px;
			border : 1px solid rgba(0,0,0,0);

			&.danger {
				color: #Faa;
			}

			&:hover {
				color: #0FF;
			}

			&.toggled {
				text-decoration: underline;
			}

			&#done.unsaved {
				color: $link_color_alt;
			}
		}

		#submenu {
			text-align: right;
			padding   : 10px;
			border-top: 1px solid #999;
			margin-top: 8px;
		}

		hr {
			border-top: 2px solid white;
		}

		.table {
			th {
				border: none;
			}

			td {
				color : $text_light_color;
				border: none;
			}
		}
	}
	@media print {
		#menu {
			display: none;
		}
	}

	.table {
		.dirty {
			// the field has been edited
			background-color: rgba(0, 255, 255, 0.1);
		}

		.note {
			background-color: #eee;
			background      : linear-gradient(90deg,#eee, #fff);
			border-left     : 5px solid #aaa;
			padding         : 10px;
			margin          : 5px 0;
			font-size       : 12px;
			border-radius   : 0;
		}

		meter {
			width    : 100%;
			min-width: 100px;
		}

		progress {
			width    : 100%;
			min-width: 100px;
		}

		i.icon {
			min-width : 20px;
			text-align: center;
		}

		input:not([class=btn]):not([type=checkbox]) {
			border: 1px solid #aaa;
		}
	}

	.table-left {
		input:not([class=btn]):not([type=checkbox]):not([type=range]) {
			border-top-right-radius   : 10px;
			border-bottom-right-radius: 10px;
			padding                   : 5px;
		}
	}

	.table-top {
		input:not([class=btn]):not([type=checkbox]) {
			border-radius: 4px !important;
			padding      : 2px;
		}

		input[type="number"] {
			text-align: right;
		}
	}

	.hour_picker {
		display: none;
	}

	.hour_picker + label {
		display         : inline-block;
		width           : 19px;
		height          : 19px;
		border          : 2px solid $link-color;
		color           : $link-color;
		background-color: rgba(255,255,255,1);
		border-radius   : 5px;
		background-color: none;
		text-align      : center;
		user-select     : none;
		margin-top      : 2px;
		cursor          : pointer;
	}

	.hour_picker:checked + label {
		background-color: $link-color;
		color           : white;
	}
}
@media print {
	#HEADER {
		display: none;
	}

	#FOOTER {
		display: none;
	}

	#MAIN {
		padding-top: 0;

		a {
			color: black;
		}
	}
}
@import 'modules.scss';
