<div id='menu'>
	<div class='cmd link' id='add'>
		<%=APP.Icon('new')%> Add
	</div>
	<div class='cmd link' id='filter'>
		<%=APP.Icon('tag')%> Filter
	</div>
	<span id='title'>Calendar</span>
	<input id='search' type='search' placeholder='search'>
</div>


<table id="calendar" class="table table-full table-top">
	<thead>
		<tr>
			<th colspan="7">
				March 2016
			</th>
		<tr>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
	</thead>
	<tbody>
		<%
		var monthDate = new Date()
		var m = moment()
		var first = new Date(monthDate.getFullYear(), monthDate.getMonth(), 1);
		var skip = first.getDay();
		var date = 1;
		%>
		<tr>
			<% for(var i = 0; i<skip; i++){ %>
				<td>&nbsp;</td>
			<% } %>
			<% for(i = skip; i<7; i++){%>
				<td class="calendar-day" data-date="<%=date%>"><%= date %><div class="calendar_events"></div></td>
			<% 
				date++
				} %>
		</tr>
		<% 
		i = 0
		while( date <= m.daysInMonth() ) {	
		  if (i == 0) { %>
			<tr>
		<% } %>
			<td class="calendar-day" data-date="<%=date%>"><%= date %><div class="calendar_events"></div></td>
			
		<%
		date++
		i++
		
		 if (i == 7) { 
				i = 0
			%>	
			</tr>
			<% } 
		}
		
		if(i < 7 && i > 0){
			for(i=i; i< 7; i++){
			%> <td></td><%
			}
			%>  </tr> <%
		}
		
		 %>
	</tbody>
</table>



<div id='footer'>
	records:
	<%=APP.models.calendar.length%>
</div>