<div id='menu'>
	<div class='cmd link' id='add'>
		<%=APP.Icon('new')%> Add
	</div>
	<div class='cmd link' id='filter'>
		<%=APP.Icon('tag')%> Filter
	</div>
	<span id='title'>Calendar</span>
</div>


<div id="DATE">
<div class="leftbar">

  <div id="mainDateBox">

    <div id="bigDate">
      <%= date() %>
    </div>
    <div id="dateMeta">
      <%= dayName() %><br />
      <%= monthName() %> <%= date() %>, <%= year() %>
    </div>

  </div>
  <div id="filters">
    <div><input type="checkbox" data-filter="calendar" checked> Calendar</div>
    <div><input type="checkbox"> Revisions</div>
		<div><input type="checkbox"> Orders</div>
		<div><input type="checkbox"> Expenses</div>
		<div><input type="checkbox"> Tasks</div>
  </div>
  <div id="minicalendar">
    this is a mini calendar
  </div>
</div>

<div class="rightbox">
<table>
	<thead>
  <tr>
    <th>Events</th>
  </tr>
</thead>
		<tbody id="eventlist">

		</tbody>
</table>
</div>
</div>
