<h1>Calendar</h1>

<div id="DATE">
<div class="leftbar">

  <div id="mainDateBox">

    <div id="bigDate">
      <%= date() %>
    </div>
    <div id="dateMeta">
      <%= dayName() %><br />
      <%= monthName() %> <%= date() %>, <%= year() %>
    </div>

  </div>
  <div id="filters">
    <div><input type="checkbox"> Calendar</div>
    <div><input type="checkbox"> Revisions</div>
  </div>
  <div id="minicalendar">
    this is a mini calendar
  </div>
</div>

<div class="rightbox">
<table>
  <tr>
    <th>Todays Date</th>
  </tr>
  <tr>
    <td>An event</td>
  </tr>
</table>
</div>
</div>
