<div id='menu'>
	<div class='cmd link ' id='cancel'>
		<%=APP.Icon('cancel')%> cancel
	</div>
	<div class='cmd link' id='save'>
		<%=APP.Icon('save')%> save
	</div>
	<% if (U.Can("users","delete") || _.created_by==U.id){%>
		<div class='cmd link danger' id='delete'>
			<%=APP.Icon('user-times')%> delete
		</div>
		<% } %>
			<span id='title'><%=name%></span>
</div>

<table class='table table-left table-full'>
	<tr>
		<th>Name</th>
		<td>
			<input type='text' id='name' class='field' value='<%=name%>'>
		</td>
	</tr>
	<tr>
		<th>E-Mail</th>
		<td>
			<input type='email' id='email' class='field' value='<%=email%>'>
		</td>
	</tr>
	<tr>
		<th>Phone</th>
		<td>
			<input type='tel' id='phone' class='field' value='<%=phone%>'>
		</td>
	</tr>
	<Tr>
		<th>Boss</th>
		<td>
			<%=APP.HTML.Select("boss", APP.models.users,"name","_id",boss,"field", true)%>
		</td>
	</tr>

</table>
