<div id='menu'>
	<div class='cmd link' id='add'>
		<%=APP.Icon('user-plus')%> Add
	</div>
	<div class='cmd link' id='filter'>
		<%=APP.Icon('tag')%> Filter
	</div>
	<span id='title'>Contacts</span>
	<input id='search' type='search' placeholder='search' value='<%=search%>'>

	<div id='submenu' style='display:none'>
		Kind:
		<select class='filter_field' id='kind'>
			<option selected value='all'>All</option>
			<option value='Customer'>Customer</option>
			<option value='Vendor'>Vendor</option>
			<option value='IPS Representative'>IPS Rep</option>
			<option value='Services'>Services</option>
		</select>

		State:
		<select class='filter_field' id='state'>
			<option selected value='all'>All</option>
			<option value='FL'>Florida</option>
			<option value='GA'>Georgia</option>
		</select>
	</div>
</div>
<table class='table table-full table-top' id='record_list'>
	<thead>
		<tr>
			<th>Name</th>
			<th>City, State</th>
			<th>E-Mail</th>
			<th>Phone</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
<div id='footer'>
	records:
	<%=APP.models.contacts.length%>
</div>