<% if (mode=='edit') { %>

	<td class='important '>
		<select id='module' class='field'>
			<option value='orders' <%=module=='orders' ? 'selected': ''%>>Order</option>
			<option value='tasks' <%=module=='tasks' ? 'selected': ''%>>Task</option>
			<option value='timeoff' <%=module=='timeoff' ? 'selected': ''%>>Time-Off</option>
		</select>
	</td>
	<td class='important '>
		<%
	switch (module) {
		case 'orders':
			print(APP.HTML.Autocomplete("module_id", APP.models.orders,"order","order",module_id,"field", true));
			break;
		case 'tasks':
			print(APP.HTML.Autocomplete("module_id", APP.models.tasks,"task","task_id",module_id,"field", true));
			break;
		case 'timeoff':
			print("<input type='hidden' id='module_id' value='"+module_id+"'>");
			break;
	}

	%>
	</td>
	<%
for (var d=0; d<7; d++) {
	var weekdate = APP.Format.sysdate( (new Date(date)).getTime() + (1000*3600*24*(1+d)) );
	var important = ( weekdate == APP.Format.sysdate() )?"important":"";
	var visible = (d>=5)?"minwidth1000":"";

%>
		<td class='<%=module%> <%=visible%> <%=important%>'>
			<%
		var times = [0.5,1,2,4,8];
	for (var v in times) {
		var id = "D-"+week+"-"+d+"-"+times[v];
		var checked = hours[d] & times[v] ? "checked" : "";
	%>
				<input id="<%=id%>" <%=checked%> value=
				<%=times[v]%> class='hour_picker' data-day=
					<%=d%> type='checkbox' >
						<label for="<%=id%>">
							<%=times[v]==0.5?"&frac12;":times[v]%>
						</label>
						<% } %>
		</td>
		<% } %>
			<td class='important right' id='sum'>
				0
			</td>
			<% } else { %>
				<td colspan=2 class='important '>
					<%
		switch (module) {
			case 'timeoff':
				print("time off");
				break;
			default:
				print(APP.GetLink(module,module_id, module_id));
		}

		%>
				</td>
				<%
	for (var d=0; d<7; d++) {
		var weekdate = APP.Format.sysdate( (new Date(date)).getTime() + (1000*3600*24*(1+d)) );
		var important = ( weekdate == APP.Format.sysdate() )?"important":"";
		var visible = (d>=5)?"minwidth1000":"";
		console.log(weekdate,important);
	%>
					<td class='<%=important%> <%=module%> <%=visible%> right'>
						<%=hours[d]?hours[d]:""%>
					</td>
					<% } %>
						<td class='important right' id='sum'>
							0
						</td>


						<% } %>
