<td>
	<%=APP.HTML.Autocomplete("order", APP.models.orders,"order","order",order,"field", true)%>
</td>
<td>
	<input list='presets' type='range' min=0 max=12 value=0>
</td>
<td>
	<input list='presets' type='range' min=0 max=12 value=0>
</td>
<td>
	<input list='presets' type='range' min=0 max=12 value=0>
</td>
<td>
	<input list='presets' type='range' min=0 max=12 value=0>
</td>
<td>
	<input list='presets' type='range' min=0 max=12 value=0>
</td>
<td class='important'>
	<input list='presets' type='range' min=0 max=12 value=0>
</td>
<td class='important'>
	<input list='presets' type='range' min=0 max=12 value=0>
</td>

<datalist id='presets'>
	<option>2</option>
	<option>4</option>
	<option>8</option>
</datalist>
