<div id='menu'>
	<span id='title'></span>
	<div class='cmd link' id='done'>
		<%=APP.Icon('done')%> done
	</div>
	<div class='cmd link' id='editrecord'>
		<%=APP.Icon('db')%> json
	</div>
	<% if (U.Can("projects_admin") || _.created_by==U.id) {%>
		<div class='cmd link danger' id='delete'>
			<%=APP.Icon('user-times')%> delete
		</div>
		<% } %>
</div>

<table class='table table-full table-left'>
	<tr>
		<th>
			Project:
		</th>
		<td>
			<input class='field' type='text' id='project' placeholder='project' value='<%=project%>'>
		</td>
	</tr>
	<tr>
		<th>
			Goal:
		</th>
		<td>
			<input class='field' type='text' id='goal' placeholder='goal' value='<%=goal%>'>
		</td>
	</tr>
	<tr>
		<th>
			Icon:
		</th>
		<td>
			<input class='field' type='text' id='icon' placeholder='icon' value='<%=icon%>'>
		</td>
	</tr>
	<tr>
		<th>
			Group:
		</th>
		<td>
			<input class='field' type='text' id='group' placeholder='group' value='<%=group%>'>
		</td>
	</tr>
	<tr>
		<th>Description:
		</th>
		<td>
			<textarea class='field' id='description'>
				<%=description%>
			</textarea>
		</td>
	</tr>
	<tr>
		<th>
			Task States
		</th>
		<td>
			<%
			console.log("task_states",task_states);
%>

				<table id='task_states_table' class='table table-top table-small table-full'>
					<thead>
						<th>State</th>
						<th>Progress</th>
					</thead>
					<%
						var keys = Object.keys(task_states);
						for (var k in keys) {
					%>
						<tr>
							<td>
								<input value='<%=keys[k]%>' type='text' class='task_states' data-id='key' data-row=<%=k%> >
							</td>
							<td>
								<input value='<%=task_states[keys[k]]%>' type='number' class='task_states' data-id='value' data-row=<%=k%> >
							</td>
						</tr>
						<% } %>
							<tr>
								<td>
									<input placeholder='state' type='text' class='task_states' data-id='key' data-row=<%=k+1%> >
								</td>
								<td>
									<input placeholder='progress value (0..100)' type='number' class='task_states' data-id='value' data-row=<%=k+1%> >
								</td>
							</tr>
				</table>

		</td>
	</tr>

</table>
