<div id='menu'>
	<span id='title'><%=project%></span>

	<div class='cmd link' id='new'>
		<%=APP.Icon('new')%> new task
	</div>
	<div class='cmd link' id='edit'>
		<%=APP.Icon('edit')%> edit
	</div>
</div>

<table id='project_header' class='table'>
	<tr>
		<td rowspan=2 class='icon'>
			<%=APP.Icon(icon)%>
		</td>
		<td class='project'>
			<%=project%>
		</td>
	</tr>
	<tr>
		<td class='goal'>
			<%=goal%>
		</td>
	</tr>
</table>

<table class='table table-full table-top' id='tasks'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Task</th>
			<th>Progress</th>
		</tr>
	</thead>
</table>