<div id='menu'>
		<span id='title'><%=project%></span>

		<div class='cmd link' id='new'>
				<%=APP.Icon('new')%> new task
		</div>
		<div class='cmd link' id='edit'>
				<%=APP.Icon('edit')%> edit project
		</div>
		<div class='cmd link' id='wiki'>
				<%=APP.Icon('wiki')%> wiki
		</div>
		<hr>
		<table id='project_header' class='table table-full '>
				<tr>
						<td rowspan=2 class='icon'>
								<%=APP.Icon(icon)%>
						</td>
						<td>
								<span class='project'><%=project%></span>
								<span class='goal'>
								<%=goal%>
							</span>
						</td>
						<td>
								<b>Views:</b>
								<%=_.views%>
						</td>
				</tr>
				<tr>
						<td>
								<meter id='progress' value='<%=progress%>' min=0 max=100>
										<%=progress%>
								</meter>
						</td>
						<td>
								<b>Edits:</b>
								<%=_.edits%>
						</td>
				</tr>
		</table>
</div>

<div id='description'>
		<%=APP.Format.markdown(description)%>
</div>


<table id='tasks' class='table table-full table-top task-table'>
		<thead>
				<tr>
						<th>ID</th>
						<th>Task</th>
						<th>Progress</th>
						<th align='center' class='minwidth800'>Subtasks</th>
						<th align='center' class='minwidth800'>Views</th>
						<th align='center' class='minwidth800'>Edits</th>
						<th class='minwidth1000'>Start Date</th>
						<th class='minwidth1000'>Due Date</th>
				</tr>
		</thead>
</table>

x
<div id='comments'></div>