<td class='nowrap category'>
	<span class='' id='category_icon'><%=APP.Icon(category)%></span>
	<select class='categories expense_field' id='category' data-line=<%=line%>>
		<option value="misc" <%=category=="miscellaneous" ? "selected": ""%>>Miscellaneous</option>
		<optgroup label='Personal'>
			<option value="food" <%=category=="food" ? "selected": ""%>>Food</option>
			<option value="cash" <%=category=="cash" ? "selected": ""%>>Cash Advance</option>
			<option value="education" <%=category=="education" ? "selected": ""%>>Education</option>
			<option value="gift" <%=category=="gift" ? "selected": ""%>>Gift</option>
		</optgroup>
		<optgroup label='Travel'>
			<option value="plane" <%=category=="plane" ? "selected": ""%>>Plane</option>
			<option value="train" <%=category=="train" ? "selected": ""%>>Train</option>
			<option value="baggage" <%=category=="baggage" ? "selected": ""%>>Baggage</option>
		</optgroup>
		<optgroup label='Transportation'>
			<option value="mileage" <%=category=="mileage" ? "selected": ""%>>Mileage</option>
			<option value="car" <%=category=="car" ? "selected": ""%>>Car Rental</option>
			<option value="boat" <%=category=="boat" ? "selected": ""%>>Boat/Ferry</option>
			<option value="cab" <%=category=="cab" ? "selected": ""%>>Taxi Cab</option>
			<option value="subway" <%=category=="subway" ? "selected": ""%>>Subway</option>
			<option value="gas" <%=category=="fuel" ? "selected": ""%>>Gas</option>
			<option value="toll" <%=category=="toll" ? "selected": ""%>>Tolls</option>
		</optgroup>
		<optgroup label='Lodging'>
			<option value="hotel" <%=category=="hotel" ? "selected": ""%>>Hotel</option>
		</optgroup>
		<optgroup label='Services'>
			<option value="delivery" <%=category=="delivery" ? "selected": ""%>>Delivery</option>
			<option value="equipment" <%=category=="equipment" ? "selected": ""%>>Equipment</option>
			<option value="tools" <%=category=="tools" ? "selected": ""%>>Tools</option>
			<option value="service" <%=category=="service" ? "selected": ""%>>Service</option>
		</optgroup>
	</select>
</td>
<% for (var d = 0; d< duration; d++) { %>
	<td>
		<input value="<%=days[d]?days[d]:''%>" class='expense_field sum_me' data-day="<%=d%>" data-line=<%=line%> type='number' >
	</td>
	<% } %>
		<td align='right' id='total_field'>
			<%=APP.Format.money(total)%>
		</td>
		<td align='right' id='employer_field'>
			<%=APP.Format.money(paid_by_employer)%>
		</td>
		<td align='right' id=''>
			<input value="<%=paid_by_employee%>" id='paid_by_employee' class='expense_field resum' data-line="<%=line%>" type='number'>
		</td>

		<input value="<%=total%>" id='total' class='dirty expense_field ' data-line="<%=line%>" value="<%=total%>" type='hidden'>
		<input value="<%=paid_by_employer%>" id='paid_by_employer' class='dirty expense_field ' data-line="<%=line%>" value="<%=paid_by_employer%>" type='hidden'>
