<div id='menu'>
	<% if (U.Can('expenses','update') || _.created_by==U.id) { %>
		<div class='cmd link' id='edit'>
			<%=APP.Icon('edit')%> edit
		</div>
		<% } %>
			<span id='title'>
		<%=APP.GetLink("orders",order)%> <%=purpose%>
	</span>
</div>

<table class='table table-left table-full'>
	<tr>
		<th>Expense ID</th>
		<td>
			<%=expense_id%>
		</td>
		<th>Kind</th>
		<td>
			<%=kind%>
		</td>
		<td id='chart' rowspan=5>
			...
		</td>
	</tr>
	<tr>
		<th>Employee</th>
		<td class='nowrap'>
			<%=APP.GetLink("users", _.created_by)%>
		</td>
		<th>Supervisor</th>
		<td class='nowrap'>
			<%=APP.GetLink("users", APP.models.users.get(_.created_by).get('boss'))%>
		</td>
	</tr>
	<tr>
		<th>Order</th>
		<td>
			<%=APP.GetLink("orders",order)%>
		</td>
		<th>Purpose</th>
		<td>
			<%=purpose%>
		</td>
	</tr>
	<tr>
		<th>Start Date</th>
		<td class='nowrap'>
			<%=start_date%>
		</td>
		<th>Duration</th>
		<td>
			<%=duration%> days
		</td>
	</tr>
</table>

<table id='expenses' class='table table-full table-top'>
	<thead>
		<th class='important'>
			Category
		</th>
		<% for (var d = 1; d<= duration; d++) { %>
			<th>
				<%=APP.Format.date(new Date(start_date).getTime()+1000*3600*24*d)%>
			</th>
			<% } %>
				<th class='important right total'>Total</th>
				<th class='important right paid_by_employer'>Employer</th>
				<th class='important right paid_by_employee'>Employee</th>
	</thead>
	<tbody></tbody>
	<tfoot>
		<tr>
			<td>
			</td>
			<% for (var d = 1; d<= duration; d++) { %>
				<td id='total_<%=d%>'>

				</td>
				<% } %>
					<th class="important right" id='total_total'>
						<%=APP.Format.money(total)%>
					</th>
					<th class="important right" id='total_employer'>
						<%=APP.Format.money(paid_by_employer)%>
					</th>
					<th class="important right" id='total_employee'>
						<%=APP.Format.money(paid_by_employee)%>
					</th>
		</tr>
	</tfoot>

</table>
