<div id='menu'>
	<span id='title'>Tasks</span>

	<input id='search' type='search' placeholder='search' value='<%=search%>'>
</div>

<table id='record_list' class='table table-full table-top'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Task</th>
			<th>Progress</th>
			<th>State</th>
			<th align='right' class='minwidth800'>Pri</th>
			<th align='center' class='minwidth800'>Subtasks</th>
			<th class='minwidth1000'>Created By</th>
			<th class='minwidth1000'>Assigned To</th>
			<th align='center' class='minwidth1000'>Views</th>
			<th align='center' class='minwidth1000'>Edits</th>
		</tr>
	</thead>
</table>
