<td class='task_id'>
	<%=task_id%>
</td>
<td class='task'>
	<%=APP.Icon(kind, kind)%>
		<%=task%>
</td>
<td>
	<!-- <div class="meter">
		<span style="width: <%=progress%>%"></span>
	</div> -->

	<progress min=0 max=100 value='<%=progress%>'>
		<%=progress%>
	</progress>
</td>
<td align=center class='nowrap minwidth800'>
	<%=subtasks%>
</td>
<td align=center class='nowrap minwidth800'>
	<%=_.views%>
</td>
<td align=center class='nowrap minwidth800'>
	<%=_.edits%>
</td>
<td class='nowrap minwidth1000'>
	<%=_.created_by? (APP.models.users.get(_.created_by)?APP.models.users.get(_.created_by).Link():"??" ):"--"%>
</td>
<td class='nowrap minwidth1000'>
	<%=assigned_to? (APP.models.users.get(assigned_to)?APP.models.users.get(assigned_to).Link():"??") :"--"%>
</td>
<td align='right' class='nowrap minwidth1000'>
	<%=priority%>
</td>
