#TASKS {
		.description {
				padding    : 10px;
				line-height: 20px;
				color      : $text_light_color;
				text-align : justify;
		}
}
.task-table {
		max-width: 100%;
		.task_id {
				font-weight     : bold;
				color           : $text-color;
				width           : 50px;
				background-color: #eee;
				text-align      : center;
		}
		.task {
				min-width: 300px;
		}
		.description {}
}