<div id='menu'>
	<span id='title'></span>
	<div class='cmd link' id='done'>
		<%=APP.Icon('done')%> done
	</div>
	<div class='cmd link' id='editrecord'>
		<%=APP.Icon('db')%> json
	</div>
	<% if (U.Can("projects_admin") || _.created_by==U.id) {%>
		<div class='cmd link danger' id='delete'>
			<%=APP.Icon('user-times')%> delete
		</div>
		<% } %>
</div>

<table class='table table-full table-left'>
	<tr>
		<th>
			Project:
		</th>
		<td>
			<input class='field' type='text' id='project' placeholder='project' value='<%=project%>'>
		</td>
	</tr>
	<tr>
		<th>
			Goal:
		</th>
		<td>
			<input class='field' type='text' id='goal' placeholder='goal' value='<%=goal%>'>
		</td>
	</tr>
	<tr>
		<th>
			Icon:
		</th>
		<td>
			<input class='field' type='text' id='icon' placeholder='icon' value='<%=icon%>'>
		</td>
	</tr>
	<tr>
		<th>
			Group:
		</th>
		<td>
			<input class='field' type='text' id='group' placeholder='group' value='<%=group%>'>
		</td>
	</tr>
	<tr>
		<th>Description:
		</th>
		<td>
			<textarea class='field' id='description'>
				<%=description%>
			</textarea>
		</td>
	</tr>
	<tr>
		<th>
			Task States
		</th>
		<td>
			<div class='note'>State Name: Progress Value(0..100)</div>
			<textarea class='field json' id='task_states'>
				<%=JSON.stringify(task_states,null,2)%>
			</textarea>
		</td>


	</tr>

	<tr>
		<th>
			Task Kinds
		</th>
		<td>
			<div class='note'>State Kind: Icon</div>
			<textarea class='field json' id='task_kinds'>
				<%=JSON.stringify(task_kinds,null,2)%>
			</textarea>
		</td>
	</tr>

	<tr>
		<th>
			To Do generation
		</th>
		<td>
			<div class='note'>{ State: [array of people], ... }</div>
			<textarea class='field json' id='task_kinds'>
				<%=JSON.stringify(todo_targets,null,2)%>
			</textarea>
		</td>
	</tr>

</table>
