<div id='menu'>
	<span id='star'><%=APP.Icon('star-o')%></span>
	<span id='title'><%=project%></span>

	<% if (U.Can("tasks")) { %>
		<div class='cmd link' id='new'>
			<%=APP.Icon('new')%> new task
		</div>
		<% } %>
			<% if (U.Can("projects_admin") || _.created_by==U.id) {%>
				<div class='cmd link' id='edit'>
					<%=APP.Icon('edit')%> edit project
				</div>
				<% }%>
					<div class='cmd link' id='wiki'>
						<%=APP.Icon('wiki')%> wiki
					</div>
</div>

<table id='project_header' class='table table-full table-left '>
	<tr>
		<td rowspan=2 class='icon'>
			<%=APP.Icon(icon)%>
		</td>
		<th>Project</th>
		<td colspan=5>
			<span class='project'><%=project%></span>
			<span class='goal'>
								<%=goal%>
							</span>
		</td>
		<td rowspan=3 id='chart'>

		</td>

	</tr>

	<tr>
		<th>Created By</th>
		<td>
			<%=APP.GetLink("users",_.created_by)%>
		</td>
		<th>
			Views
		</th>
		<td>
			<%=APP.Format.number(_.views)%>
		</td>
		<th>
			Edits
		</th>
		<td>
			<%=APP.Format.number(_.edits)%>
		</td>
	</tr>
	<tr>

		<td colspan=7>
			<progress id='progress' value='<%=progress%>' min=0 max=100>
				<%=progress%>
			</progress>
		</td>
	</tr>
</table>

<div id='description'>
	<%=APP.Format.markdown(description)%>
</div>


<table id='tasks' class='table table-full table-top task-table'>
	<thead>
		<tr>
			<th class='center'>ID</th>
			<th>Task</th>
			<th>Progress</th>
			<th align='right' class='minwidth800'>Pri</th>
			<th align='center' class='minwidth800'>Subtasks</th>
			<th class='minwidth1000'>Created By</th>
			<th class='minwidth1000'>Assigned To</th>
			<th align='center' class='minwidth1000'>Views</th>
			<th align='center' class='minwidth1000'>Edits</th>
		</tr>
	</thead>
</table>
<!--
//TODO: What is this for?

<table id='repositories' class='table table-full table-top'>
	<thead>
		<th>Name</th>
		<th>Description</th>
	</thead>
	<tbody>

	</tbody>
</table> -->
