<div id='title'>
	<%=APP.Icon('road')%> Roadtrip
		<span id='subtitle'>a Telegauge project</span>
</div>

<!--
I use data-id here, because when i did stuff like 'id=contacts', then clicking on it caused the browser to want to scroll to it
-->

<div class='bg1' id='mainmenu'>
	<div class='menuitem link' data-mode='home'>
		<%=APP.Icon('home')%> <span class='label'>Home</span>
	</div>
	<div class='menuitem link' data-mode='contacts'>
		<%=APP.Icon('contacts')%> <span class='label'>Contacts</span>
	</div>
	<div class='menuitem link' data-mode='orders'>
		<%=APP.Icon('orders')%> <span class='label'>Orders</span>
	</div>
	<div class='menuitem' id='calendar'>
		<%=APP.Icon('calendar')%> <span class='label'>Calendar</span>
	</div>
	<div class='menuitem' id='projects'>
		<%=APP.Icon('projects')%> <span class='label'>Projects</span>
	</div>
	<div class='menuitem' id='expenses'>
		<%=APP.Icon('expenses')%> <span class='label'>Expense Reports</span>
	</div>
	<div class='menuitem' id='timeclock'>
		<%=APP.Icon('timeclock')%> <span class='label'>Time Clock</span>
	</div>
</div>

<div id='usermenu'>
	<button class='btn'>Login</button>
</div>