#CALENDAR {
    thead th {
        text-align: center;
    }
/*    tbody td {
        text-align: right;
        height: 10vw;
        width: 14vw;
    }
    tbody td {
        text-align: left;
        padding: 0;
        margin: 0;
    }
    tbody td.saturday,
    tbody td.sunday {
        background-color: #eee;
    }
    .calendar_event {
        background-color: #def;
        margin: 2px 0;
    }
    .start {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 10px;
    }
    .end {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-right: 10px;
    } */
}
#DATE {
    display: flex;
    .leftbar {
        flex-basis: auto;
        flex: 2;
        padding-right: 10px;
        margin-right: 10px;
        #mainDateBox {
            border: 1px solid #aaa;
            padding: 10px;
            display: flex;
            #bigDate {
                flex-basis: auto;
                flex: 3;
                text-align: center;
                font-size: 2em;
            }
            #dateMeta {
                flex-basis: auto;
                flex: 7;
            }
        }
        #filters {
            border: 1px solid #aaa;
            margin-top: 20px;
            div {
                padding: 10px;
                border-bottom: 1px solid #aaa;
            }
						div:last-child { border-bottom: none; }
        }
        #minicalendar {
            border: 1px solid #aaa;
            margin-top: 20px;
            table {
              width: 100%;
            }
            td {
              text-align: center;
              margin: 10px;
              padding: 10px;
              height: 20px !important;
            }
        }
    }
    .rightbox {
        flex-basis: auto;
        flex: 8;

				table {
					width: 100%;
					border: 1px solid #aaa;
					padding: 0px;
          margin: 0px;
          tr {
            width: 100%;
          }
					th {
						background-color: #eee;
						font-weight: 800;
						text-align: left;
						margin: 0px;
						padding: 20px;
					}
					td {
						margin: 0px;
						padding: 20px;
            border-bottom: 1px solid #aaa
					}
				}
    }
}
