<td class='important '>
	<select id='module' class='field'>
		<option value='order' <%=module=='order' ? 'selected': ''%>>Order</option>
		<option value='task' <%=module=='task' ? 'selected': ''%>>Task</option>
		<option value='timeoff' <%=module=='timeoff' ? 'selected': ''%>>Time-Off</option>
	</select>
	<%
	switch (module) {
		case 'order':
			print(APP.HTML.Autocomplete("module_id", APP.models.orders,"order","order",module_id,"field", true));
			break;
		case 'task':
			print(APP.HTML.Autocomplete("module_id", APP.models.tasks,"task","task_id",module_id,"field", true));
			break;
		case 'timeoff':
			break;
	}

	%>
</td>
<%
for (var d=0; d<7; d++) {
%>
	<td class='nowrap'>
		<%
		var times = [0.5,1,2,4,8];
	for (var v in times) {
		var id = "D-"+week+"-"+d+"-"+times[v];
		var checked = hours[d] & times[v] ? "checked" : "";
	%>
			<input id="<%=id%>" <%=checked%> value=
			<%=times[v]%> class='hour_picker' data-day=
				<%=d%> type='checkbox' >
					<label for="<%=id%>">
						<%=times[v]==0.5?"&frac12;":times[v]%>
					</label>
					<% } %>
	</td>
	<% } %>
		<td class='important right' id='sum'>
			0
		</td>
		td>
