<h2>
	<a href="#timeclock/<%=mode%>/<%=prev%>" class='cmd link'><<</a>
	 Week <%=date%>
	 <a href="#timeclock/<%=mode%>/<%=next%>" class='cmd link'>>></a>
 </h2>

<table id='week' class='table table-full table-top'>
	<thead>
		<tr>
			<th colspan=2>Module</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th class='minwidth1000'>Saturday</th>
			<th class='minwidth1000'>Sunday</th>
			<th class='important right'>Total</th>
		</tr>
	</thead>

	<tbody></tbody>

	<tfoot>
		<tr>
			<th colspan=2>
				<button id='add' class='btn btn-small'>
					<%=APP.Icon('new')%> New Line</button>
			</th>
			<th class='right' id='total_0'>0</th>
			<th class='right' id='total_1'>0</th>
			<th class='right' id='total_2'>0</th>
			<th class='right' id='total_3'>0</th>
			<th class='right' id='total_4'>0</th>
			<th class='right minwidth1000' id='total_5'>0</th>
			<th class='right minwidth1000' id='total_6'>0</th>
			<th class='right important' id='grand_total'>0</th>
		</tr>
	</tfoot>
</table>
