<div id='menu'>
	<span id='title'>Contacts:</span>
	<%=name%>
		<div class='cmd link ' id='done'>
			<%=APP.Icon('done')%> done
		</div>
		<div class='cmd link' id='save'>
			<%=APP.Icon('save')%> save
		</div>
		<div class='cmd link danger' id='delete'>
			<%=APP.Icon('delete')%> delete
		</div>
</div>

<table class='table table-full table-left'>
	<tr>
		<th>Order</th>
		<td>
			<%=order%>
		</td>
	</tr>
	<tr>
		<td>
		</td>
		<td class='note'>
			<%=APP.Icon('warning')%> The dates on the data import are not in the right format, so this will complain a lot.</td>
	</tr>
	<tr>
		<th>Order Date</th>
		<td>
			<input type='date' id='order_date' value='<%=APP.Format.sysdate(order_date)%>'>
		</td>
	</tr>
	<tr>
		<th>Customer Request Date</th>
		<td>
			<input type='date' id='customer_request_date' value='<%=APP.Format.sysdate(customer_request_date)%>'>
		</td>
	</tr>
	<tr>
		<th>Release Date</th>
		<td>
			<input type='date' id='release_date' value='<%=APP.Format.sysdate(release_date)%>'>
		</td>
	</tr>
</table>
