.rev-meta {
  border: 1px solid #d8d8d8;
  margin-bottom: 40px;

  .title {
    background-color: #f7f7f7;
    padding: 10px;
    font-size: 1.2em;
    font-weight: 800;
    border-bottom: 1px solid #d8d8d8;
  }
  .who-when {
    padding: 10px;
  }
}
.file-diff {

  display: block;
  overflow-x: auto;
  color: #333;
  background: #fff;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;

  .diff-header {
    background-color: #f7f7f7;
    margin: 0px;
    border-bottom:  1px solid #d8d8d8;
    font-family: monospace;
    padding: 10px;
  }

  pre {
    margin: 0;
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }


  .context {
    color: #000080;
    font-weight: normal;
  }

  .info {
    color: #999;
    font-weight: bold;
    background-color: #f4f7fb
  }
  .delete {
    background: #ffecec;
  }
  .insert {
    background: #eaffea;
  }

}
