<div id='menu'>
	<a href="#">
		<%=APP.Icon("home")%> home</a>
	<a href="#db">
		<%=APP.Icon("db")%> db</a>
	<% if (U.Can("tasks","read")) { %>
		<a href='#tasks'>
			<%}%>
				<%=APP.Icon("tasks")%> tasks</a>
		<a href='#events'>
			<%=APP.Icon("events")%> events</a>
		<a href='#revisions'>
			<%=APP.Icon("revisions")%> revisions</a>
</div>
<div id='collection_list'>
	<div class='collection_count' id='contacts_count' title='Contacts Count'></div>
	<div class='collection_count' id='orders_count' title='Order Count'></div>
	<div class='collection_count' id='calendar_count' title='Calendar Event Count'></div>
	<div class='collection_count' id='tasks_count' title='Task Count'></div>
	<div class='collection_count' id='events_count' title='Events Count'></div>
	<div class='collection_count' id='users_count' title='User Count'></div>
	<div class='collection_count' id='projects_count' title='Project Count'></div>
	<div class='collection_count' id='revisions_count' title='Revisions Count'></div>
</div>
