<div id='topline'>
	<div class='cell click' id='title'>
		<%=APP.Icon('road')%> Roadtrip
	</div>
	<div class='cell' id='subtitle'>a Telegauge project</div>
	<div class='cell' id='searchbox'>
		<input type='search' id='search' placeholder='Search...'>
	</div>

	<div id='usermenu' class='cell nowrap'>
		<% if(U.get("is_anonymous")){ %>
			<button id='login' class='btn'>Login</button>
			<% } else { %>
				<a href="#users/home/<%=U.id%>">
					<div id='taskcount'></div>
				</a>
				<% } %>
	</div>
</div>
<div id='SEARCH' style=''></div>
<!--
I use data-id here, because when i did stuff like 'id=contacts', then clicking on it caused the browser to want to scroll to it
-->

<div class='bg1' id='mainmenu'>
	<% if (U.Can("contacts")) { %>
		<div class='menuitem link' data-mode='contacts'>
			<%=APP.Icon('contacts')%> <span class='label'>Contacts</span>
		</div>
		<% } %>
			<% if (U.Can("orders")) { %>
				<div class='menuitem link' data-mode='orders'>
					<%=APP.Icon('orders')%> <span class='label'>Orders</span>
				</div>
				<% } %>
					<% if (U.Can("calendar")) { %>
						<div class='menuitem link' data-mode='calendar'>
							<%=APP.Icon('calendar')%> <span class='label'>Calendar</span>
						</div>
						<% } %>
							<% if (U.Can("projects")) { %>
								<div class='menuitem link' data-mode='projects'>
									<%=APP.Icon('projects')%> <span class='label'>Projects</span>
								</div>
								<% } %>
									<% if (U.Can("expenses")) { %>
										<div class='menuitem link' data-mode='expenses'>
											<%=APP.Icon('expenses')%> <span class='label'>Expenses</span>
										</div>
										<% } %>
											<% if (U.Can("timeclock")) { %>
												<div class='menuitem link' data-mode='timeclock'>
													<%=APP.Icon('timeclock')%> <span class='label'>Time Clock</span>
												</div>
												<% } %>
													<% if (U.Can("users")) { %>
														<div class='menuitem link' data-mode='users'>
															<%=APP.Icon('users')%> <span class='label'>Users</span>
														</div>
														<%}%>
</div>
<div id='stars'></div>
