<div id='title'>Roadtrip</div>

<div class='bg1' id='mainmenu'>
	<div class='menuitem link active' id='home'>
		<a href="#">
			<%=APP.Icon('home')%> Home
		</a>
	</div>
	<div class='menuitem link' id='contacts'>
		<a href="#contacts">
			<%=APP.Icon('contacts')%> Contacts
		</a>
	</div>
	<div class='menuitem link' id='calendar'>
		<%=APP.Icon('calendar')%> Calendar
	</div>
	<div class='menuitem link' id='projects'>
		<%=APP.Icon('projects')%> Projects
	</div>
</div>

<div id='usermenu'>
	<button class='btn'>Login</button>
</div>