<div id='title'>
	<%=APP.Icon('road')%> Roadtrip
		<span id='subtitle'>a Telegauge project</span>
</div>


<div class='bg1' id='mainmenu'>
	<div class='menuitem active' id='home'>
		<a href="#">
			<%=APP.Icon('home')%> <span class='label'>Home</span>
		</a>
	</div>
	<div class='menuitem' id='contacts'>
		<a href="#contacts">
			<%=APP.Icon('contacts')%> <span class='label'>Contacts</span>
		</a>
	</div>
	<div class='menuitem' id='orders'>
		<a href="#orders">
			<%=APP.Icon('orders')%> <span class='label'>Orders</span>
		</a>
	</div>
	<div class='menuitem' id='calendar'>
		<%=APP.Icon('calendar')%> <span class='label'>Calendar</span>
	</div>
	<div class='menuitem' id='projects'>
		<%=APP.Icon('projects')%> <span class='label'>Projects</span>
	</div>
	<div class='menuitem' id='expenses'>
		<%=APP.Icon('expenses')%> <span class='label'>Expense Reports</span>
	</div>
	<div class='menuitem' id='timeclock'>
		<%=APP.Icon('timeclock')%> <span class='label'>Time Clock</span>
	</div>
</div>

<div id='usermenu'>
	<button class='btn'>Login</button>
</div>