<form method="POST" action="/auth">

	<table class='table table table-left table-full'>
		<tr>
			<th>E-Mail</th>
			<td>
				<input type="email" name="email" id="email" placeholder="me@you.com" />
			</td>
		</tr>
		<tr>
			<th>
				Password
			</th>
			<td>
				<input type="password" name="password" id="password" />
			</td>
		</tr>
		<tr>
			<td colspan='2'>
				<input class='btn' type="submit" value="Log In" />
			</td>
		</tr>
	</table>
</form>
<button id='create' class='btn'>Create Account</button>
<button id='lost' class='btn'>Reset Password</button>
