<form method="POST" action="/highway/user">
		<table class='table table table-left table-full'>
			<tr>
				<th>Name</th>
				<td>
					<input type="text" name="name" id="name" placeholder="Your Name" />
				</td>
			</tr>
				<tr>
						<th>E-Mail</th>
						<td>
								<input type="text" name="email" id="email" placeholder="me@you.com" />
						</td>
				</tr>
				<tr>
						<th>
								Password
						</th>
						<td>
								<input type="password" name="password" id="password" />
						</td>
				</tr>
				<tr>
						<td colspan='2'>
								<input class='btn' type="submit" value="Sign Up" />
						</td>
				</tr>
		</table>
</form>
<button id='login' class='btn'>Log In</button>
