<td class='task_id'>
		<%=task_id%>
</td>
<td class='task'>
		<%=APP.Icon(kind, kind)%>
				<%=task%>
</td>
<td>
		<meter min=0 max=100 value='<%=progress%>'>
				<%=progress%>
		</meter>
</td>
<td align=center class='nowrap minwidth800'>
		<%=subtasks%>
</td>
<td align=center class='nowrap minwidth800'>
		<%=_.views%>
</td>
<td align=center class='nowrap minwidth800'>
		<%=_.edits%>
</td>
<td class='nowrap minwidth1000'>
		<%=APP.Format.date(start_date)%>
</td>
<td class='nowrap minwidth1000'>
		<%=APP.Format.date(due_date)%>
</td>