<td class='task_id'>
	<%=task_id%>
</td>
<td class='task'>
	<%=APP.Icon(kind, kind)%>
		<%=task%>
</td>
<td title='progress (<%=progress%>%)'>
	<!-- <div class="meter">
		<span style="width: <%=progress%>%"></span>
	</div> -->

	<progress min=0 max=100 value='<%=progress%>'>
		<%=progress%>
	</progress>
</td>
<td title='priority' align='right' class='nowrap minwidth800'>
	<%=priority%>
</td>
<td title='subtasks' align=center class='nowrap minwidth800'>
	<%=subtasks%>
</td>
<td title='created by' class='nowrap minwidth1000'>
	<%=APP.GetLink("users", _.created_by)%>
</td>
<td title='assigned to' class='nowrap minwidth1000'>
	<%=APP.GetLink("users", assigned_to)%>
</td>
<td align=center title='views' class='nowrap minwidth1000'>
	<%=_.views%>
</td>
<td align=center title='edits' class='nowrap minwidth1000'>
	<%=_.edits%>
</td>
