<div id='menu'>
		<span id='title'>Task</span>
		<%=task_id%>
				<div class='cmd link' id='edit'>
						<%=APP.Icon('edit')%> edit task
				</div>
				<div class='cmd link' id='subtask'>
						<%=APP.Icon('new')%> add subtask
				</div>
</div>

<h2>Details</h2>
<table class='table table-full table-left'>
		<tr>
				<th>Task</th>
				<td colspan=3>
						<%=APP.Icon(kind)%>
								<%=task%>
				</td>
		</tr>
		<tr>
				<th>Parent</th>
				<td colspan=3>
						<a href="#<%=parent_module%>/view/<%=parent_id%>">
								<%=parent_module%>:
										<%=parent_id%>
						</a>
				</td>
		</tr>
		<tr>
				<th>Priority</th>
				<td>
						<meter min=0 max=100 value='<%=priority%>'>
								<%=priority%>
						</meter>
				</td>
				<th>Start Date</th>
				<td>
						<%=APP.Format.date(start_date)%>
				</td>
		</tr>
		<tr>
				<th>Progress</th>
				<td colspan=2>
						<input id='progress' list='progress_levels' type=range min=0 max=100 value='<%=progress%>'>
						<datalist id="progress_levels">
								<option>0</option>
								<option>5</option>
								<option>80</option>
								<option>100</option>
						</datalist>
				</td>
				<td id='progress_label'>
						<%=APP.Icon(progress_label)%>
								<%=progress_label%>
				</td>
		</tr>

</table>

<h2>Description</h2>
<div class='description'>
		<%=APP.Markdown(description)%>
</div>