.file-diff {
  pre {
    margin: 0;
    padding: 0;
  }


    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;


  .context {
    color: #000080;
    font-weight: normal;
  }

  .info {
    color: #999;
    font-weight: bold;
  }
  .delete {
    background: #fdd;
  }
  .insert {
    background: #dfd;
  }

}
