<div id='menu'>
	<div class='cmd link' id='add'>
		<%=APP.Icon('new')%> Add
	</div>
	<div class='cmd link' id='filter'>
		<%=APP.Icon('tag')%> Filter
	</div>
	<span id='title'>Calendar</span>
</div>


<table id="calendar" class="table table-full table-top">
	<thead>
		<tr>
			<th colspan="7">
				<%= new Date().toLocaleString('en-us', { month: 'long' }) %> <%= new Date().getFullYear() %>
			</th>
		<tr>
			<th>Sun</th>
			<th>Mon</th>
			<th>Tue</th>
			<th>Wed</th>
			<th>Thu</th>
			<th>Fri</th>
			<th>Sat</th>
		</tr>
	</thead>
	<tbody>

	</tbody>
</table>
