<div id='menu'>
	<span id='title'>Calendar:</span>
	<%=name%>
		<div class='cmd link ' id='cancel'>
			<%=APP.Icon('cancel')%> cancel
		</div>
		<div class='cmd link' id='save'>
			<%=APP.Icon('save')%> save
		</div>
		<div class='cmd link danger' id='delete'>
			<%=APP.Icon('user-times')%> delete
		</div>
</div>


<input type="hidden" class="field" name="user" id="user" value="<%=U._id%>">

<table class='table table-full table-left'>
	<tr>
		<th>Title</th>
		<td>
			<input class='field' type='text' value='<%=title%>' name='title' id='title'>
		</td>
	</tr>
	<tr>
		<th>Start Date</th>
		<td>
			<input class='field' type='datetime-local' value='<%=startDate%>' name='startDate' id='startDate'>
		</td>
	</tr>
	<tr>
		<th>End Date</th>
		<td>
			<input class='field' type='datetime-local' value='<%=endDate%>' name='endDate' id='endDate'>
		</td>
	</tr>
	<tr>
		<th>Notes</th>
		<td>
			<textarea class='field' name='notes' id='notes'><%=notes%></textarea>
		</td>
	</tr>



<tr>
	<td colspan=2>
		<button id='save' class='btn default'>
			<%=APP.Icon("save")%> Save</button>
		<button id='cancel' class='btn '>
			<%=APP.Icon("cancel")%> Cancel</button>
		<button id='delete' class='btn danger '>
			<%=APP.Icon("delete")%> Delete</button>
	</td>

</tr>
</table>
