<div id='menu'>
	<span id='title'>Calendar:</span>

	<div class='cmd link' id='done'>
		<%=APP.Icon('done')%> done
	</div>
	<div class='cmd link' id='editrecord'>
		<%=APP.Icon('db')%> json
	</div>
	<% if (U.Can("calendar_admin") || _.created_by==U.id) { %>
		<div class='cmd link danger' id='delete'>
			<%=APP.Icon('delete')%> delete
		</div>
		<% } %>
</div>


<input type="hidden" class="field dirty" name="user" id="user" value="<%=U.id%>">

<table class='table table-full table-left'>
	<tr>
		<th>Title</th>
		<td>
			<input class='field' type='text' value='<%-title%>' name='title' id='title'>
		</td>
	</tr>
	<tr>
		<th>Start Date</th>
		<td>
			<input class='field' type='datetime-local' value='<%=startLocal%>' name='startLocal' id='startLocal'>
		</td>
	</tr>
	<tr>
		<th>End Date</th>
		<td>
			<input class='field' type='datetime-local' value='<%=endLocal%>' name='endLocal' id='endLocal'>
		</td>
	</tr>
	<tr>
		<th>Attendees</th>
		<td>
			A user selector goes here
		</td>
	</tr>
	<tr>
		<th>Location</th>
		<td>
			<textarea class="field" id="location" name="location"><%- location %>
			</textarea>
		</td>
	</tr>
	<tr>
		<th>Notes</th>
		<td>
			<textarea class='field' name='notes' id='notes'>
				<%-notes%>
			</textarea>
		</td>
	</tr>
</table>
