<div id='menu'>
	<span id='title'>Calendar:</span>
	<%=name%>
		<div class='cmd link' id='edit'>
			<%=APP.Icon('edit')%> edit
		</div>
		<div class='cmd link danger' id='delete'>
			<%=APP.Icon('delete')%> delete
		</div>
</div>

<img src="<%= APP.models.users.get(U.id).get('image_url') %>" />


<table class='table table-full table-left'>
	<tr>
		<th>Title</th>
		<td>
			<%=title%>
		</td>
		<td class='' rowspan=8>
			<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDZolqc646yTVgKFAL_72huENxZ9uBS3z8&q=<%=(location).replace(/ /g,'+')%>" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</td>
	</tr>
	<tr>
		<th>Start Date</th>
		<td>
			<%=APP.Format.datetime(start)%>
		</td>
	</tr>
	<tr>
		<th>End Date</th>
		<td>
			<%=APP.Format.datetime(end)%>
		</td>
	</tr>
	<tr>
		<th>Attendees</th>
		<td><%= attendees.join(' , ') %></td>
	</tr>
	<tr>
		<th>Notes</th>
		<td>
			<%= APP.Format.markdown(notes) %>
		</td>
	</tr>
	<tr>
		<th>Location</th>
		<td>
			<%= location %>
		</td>
	</tr>

	<tr>
		<th>Views</th>
		<td>
			<%=_.views%>
		</td>
	</tr>

	<tr>
		<th>Edits</th>
		<td>
			<%=_.edits%>
		</td>
	</tr>
</table>
