#CALENDAR {
	thead th {
		text-align: center;
	}
	tbody td {
		text-align: right;
		height: 10vw;
		width: 14vw;
	}
	tbody td .calendar_events {
		text-align: left;
		div {
			background-color: #def;
			border-radius: 5px;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	
	tbody td.saturday, tbody td.sunday { 
		background-color: #eee;
	}
}